<div id="searchContainer" style="position: sticky; top: 0;">
  <input
    autocomplete="off"
    type="search"
    placeholder="{{ placeholderContent[searchType] }}"
    [(ngModel)]="namePokemon"
    (input)="searchPokemonByStartName()"
  />
  <select [(ngModel)]="searchType">
    <option value="name">{{STATIC_PARAMS_SELECT.name}}</option>
    <option value="num_pokemon">{{STATIC_PARAMS_SELECT.num_pokemon}}</option>
    <option value="generation_num">{{STATIC_PARAMS_SELECT.generation_num}}</option>
    <option value="type">{{STATIC_PARAMS_SELECT.type}}</option>
  </select>
</div>
