#bacgroundContainer {
  position: sticky;
  top: 0;
  max-height: 650px;
  border-radius: 17% 17% 25% 25% / 16% 18% 0% 0%;
  padding: 10px 20px;
  width: calc(100% - 40px);
  position: relative;
  height: 70%;
  margin-top: 10px;
  box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.75);
}

#bacgroundContainer #data {
  padding: 0 40px;
}

#bacgroundContainer #data div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: medium;
  font-weight: bolder;
  word-wrap: break-word;
}

#bacgroundContainer #data div h3 {
  font-size: 2.3rem;
  font-weight: bold;
  color: #fff;
}

#bacgroundContainer #data .type-pokemon {
  padding: 5px 10px;
  border-radius: 1rem;
  background-color: #ffffff1b;
  word-wrap: break-word;
}

#bacgroundContainer #image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bacgroundContainer #image img {
  height: 220px;
  padding: 0;
  filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.096));
}

#predetermined {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  text-transform: uppercase;
  font-size: x-large;
}

#predetermined img {
  position: absolute;
  margin: 0;
  width: 90px;
  height: 90px;
  margin-right: 10px;
  top: 10%;
  right: 5%;
  image-rendering: pixelated;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.444));
}

@media (min-width: 940px) {
  #bacgroundContainer {
    border-radius: 40px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.75);
  }

  #bacgroundContainer #image img {
    scale: 1;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 2.8rem;
  }
}
