<div  id="bacgroundContainer" [ngStyle]="{ 'background-color': MAIN_COLOR }">
  <div *ngIf="!pokemon" id="predetermined">
    <h2 *ngIf="!pokemon">{{STATIC_PARAMS.predeterminated.title}}</h2>
    <img *ngIf="!pokemon" src="{{STATIC_PARAMS.predeterminated.img}}" alt="{{STATIC_PARAMS.predeterminated.alt}}">
  </div>
  <div *ngIf="pokemon" id="data">
    <div>
      <h3>{{pokemon.name | titlecase}}</h3>
      <span>#{{pokemon.num_pokemon}}</span>
    </div>
    <div>
      <span class="type-pokemon">{{pokemon.type | titlecase}}</span>
      <span>{{STATIC_PARAMS.data.generation}} {{pokemon.generation_num}}</span>
    </div>
  </div>
  <div *ngIf="pokemon" id="image">
    <img
      src="{{pokemon.icon}}"
      alt="pokemon{{pokemon.name}}"
    />
  </div>
</div>
