<div
  id="backdrop"
  [ngClass]="{ active: !isOpenForm }"
  (click)="toggleForm()"
></div>

<section id="container" [ngClass]="{ active: isOpenForm }">
  <button id="toggleButton" (click)="toggleForm()">
    {{ STATIC_PARAMS_FORM.button_main }}
  </button>
  <form id="containerForm" #myForm="ngForm" (ngSubmit)="addPokemon()">
    <div>
      <label for="nombre" class="text_sm">{{
        STATIC_PARAMS_FORM.labels.label_name.title
      }}</label>
      <input
        class="input"
        type="text"
        id="name"
        [(ngModel)]="newPokemon.name"
        placeholder="{{ STATIC_PARAMS_FORM.labels.label_name.placeholder }}"
        required
        name="name"
        #name="ngModel"
      />
      <div *ngIf="name.invalid && name.touched" class="error_message text_sm">
        {{ STATIC_PARAMS_FORM.labels.label_name.message_error }}
      </div>
    </div>

    <div>
      <label for="num_pokemon" class="text_sm">{{
        STATIC_PARAMS_FORM.labels.label_num_pokemon.title
      }}</label>
      <input
        class="input"
        type="text"
        id="num_pokemon"
        [(ngModel)]="newPokemon.num_pokemon"
        placeholder="{{
          STATIC_PARAMS_FORM.labels.label_num_pokemon.placeholder
        }}"
        required
        name="num_pokemon"
        #num_pokemon="ngModel"
      />
      <div
        *ngIf="num_pokemon.invalid && num_pokemon.touched"
        class="error_message text_sm"
      >
        {{ STATIC_PARAMS_FORM.labels.label_num_pokemon.message_error }}
      </div>
    </div>
    <div>
      <label for="generation_num" class="text_sm">{{
        STATIC_PARAMS_FORM.labels.label_generation_num.title
      }}</label>
      <input
        class="input"
        type="text"
        id="num_generacion"
        [(ngModel)]="newPokemon.generation_num"
        placeholder="{{
          STATIC_PARAMS_FORM.labels.label_generation_num.placeholder
        }}"
        required
        name="generation_num"
        #generation_num="ngModel"
      />
      <div
        *ngIf="generation_num.invalid && generation_num.touched"
        class="error_message text_sm"
      >
        {{ STATIC_PARAMS_FORM.labels.label_generation_num.message_error }}
      </div>
    </div>
    <div class="input_color">
      <label for="main_color" class="text_sm">{{
        STATIC_PARAMS_FORM.labels.label_main_color.title
      }}</label>
      <input
        class="input"
        type="color"
        id="main_color"
        [(ngModel)]="newPokemon.main_color"
        required
        name="main_color"
        #main_color="ngModel"
      />
      <div
        *ngIf="main_color.invalid && main_color.touched"
        class="error_message text_sm"
      >
        {{ STATIC_PARAMS_FORM.labels.label_main_color.message_error }}
      </div>
    </div>
    <div>
      <label for="icon" class="text_sm">{{
        STATIC_PARAMS_FORM.labels.label_icon.title
      }}</label>
      <input
        class="input"
        type="text"
        id="icon"
        [(ngModel)]="newPokemon.icon"
        placeholder="{{ STATIC_PARAMS_FORM.labels.label_icon.placeholder }}."
        required
        name="icon"
        #icon="ngModel"
      />
      <div *ngIf="icon.invalid && icon.touched" class="error_message text_sm">
        {{ STATIC_PARAMS_FORM.labels.label_icon.message_error }}
      </div>
    </div>
    <div>
      <label for="type" class="text_sm">{{
        STATIC_PARAMS_FORM.labels.label_type.title
      }}</label>
      <input
        class="input"
        type="text"
        id="type"
        [(ngModel)]="newPokemon.type"
        placeholder="{{ STATIC_PARAMS_FORM.labels.label_type.placeholder }}."
        required
        name="type"
        #type="ngModel"
      />
      <div *ngIf="type.invalid && type.touched" class="error_message text_sm">
        {{ STATIC_PARAMS_FORM.labels.label_type.message_error }}
      </div>
    </div>

    <button class="button" type="submit" [disabled]="myForm.invalid">
      {{ STATIC_PARAMS_FORM.secondary_button }}
    </button>
  </form>
</section>
