#container {
  max-height: 800px;
  height: 3vh;
  width: 100vw;
  background: #000000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr 1fr;
  padding: 0 0 20px 0;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  &.active{
    height: 90vh;
  }

  button{
    background: #000000;
    color: #f5f5f5;

    border: none;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: .3s;
    margin: 0 0 20px 0;

    &:hover{
      background: #f5f5f5;
      color: #000000;
    }
  }

  div{
    border: 1px solid #f5f5f5;
    padding: 30px;

  }
}
